div.row-fluid
  div.span3
    ai-facet(ai-url="/api/Anketebi/indexes/Klientebi/facets/klientebi")
  div.span9
    ai-grid(ai-url="/api/Anketebi/indexes/Klientebi",ai-page-size="5")
div.row-fluid
  div.offset3
    a.btn.btn-primary(href="/#/clientmanagement/anketisdamateba") ახალი ანკეტა