div.container-fluid
  h1.page-header aiFacet : aiGrid
  div.row-fluid
    div.span3
      ai-facet(ai-url="/api/indexes/refebi/facets/refs")
    div.span9
      ai-grid(ai-url="/api/indexes/refebi",ai-page-size="5")