h1 Detail
mixin render(obj2)
  table.table.table-bordered.table-striped.table-hover.table-condensed
    tbody
      each field, key in obj2
        tr()
          td()= field.lable
          td {{obj.#{key}}}
if fields
  mixin render(fields)