!!!
html(ng-app='app')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        base(href='/')
        link(href='lib/bootstrap/2.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
        script(src='lib/linq/linq.min.js')
        script(src='lib/angular/angular.js')
        script(src='http://code.angularjs.org/1.1.2/angular.js')
        script(src='lib/angular.ui/ui-bootstrap-0.6.0.min.js')
        script(src='lib/angular.ui/ui-bootstrap-tpls-0.6.0.min.js')
        title Avtomati
        block head
    body
      block body
      script(src='app.js')
      script(src='app/directives/aiFacet.js')
      script(src='app/directives/aiGrid.js')
      script(src='app/controllers.js')
      script(src='controllers.js')