div.well(ng-repeat="sf in selectedFacets") {{sf.name}}
  a.btn(ng-repeat="sv in sf.values",
        ng-click="removeSelected(sf,sv)") {{sv}}
    i.icon-remove
accordion(close-others="false")
  accordion-group(ng-repeat="f in facets",heading="{{f.name}}")
    ul
      li(ng-repeat="v in f.values")
        a.btn.btn-default(ng-click='apply(f.key,v.Range)') {{v.Range}} : ({{v.Hits}})