div.container
  div.well(ng-repeat="sf in selectedFacets") {{sf.name}}
    a.btn(ng-repeat="sv in sf.values",
    ng-click="removeSelected(sf,sv)") {{sv}}
      i.icon-remove
  accordion(close-others="false")
    accordion-group(ng-repeat="f in facets",heading="{{f.name}}")
      a.btn.btn-primary(ng-show="f.isMulti",ng-click="apply()") Apply
      ul
        li(ng-repeat="v in f.values")
          div(ng-show='f.isMulti')
            label.checkbox
              input(type="checkbox",
              ng-model="v.isSelected")
              | {{v.Range}} : ({{v.Hits}})
          div(ng-hide='f.isMulti')
            a.btn.btn-default(ng-click='apply(f.key,v.Range)') {{v.Range}} : ({{v.Hits}})